.register-section {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #e9e9e9;
  border-radius: 5px;
}

.register-section h2 {
  text-align: center;
}

.register-section .register-form {
  margin-top: 20px;
}

.register-section .form-group {
  margin-bottom: 20px;
}

.register-section label {
  /*position: relative;*/
  /*right: 150px;*/
  display: block;
  font-weight: bold;
}

.register-section input[type="text"],
.register-section input[type="email"],
.register-section input[type="password"],
.register-section input[type="number"],
.register-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 4px;
}

.register-section button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #2c7a4d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-section button[type="submit"]:hover {
  background-color: #225f3d;
}

.register-section p {
  text-align: center;
}

.register-section p a {
  color: #1e90ff;
  text-decoration: none;
}

.register-section p a:hover {
  text-decoration: underline;
}